#login-card{
  max-width: 550px;
  margin: auto;
  margin-top: 10%;
}
.logo{
  width: 150px;
  height: auto;
}
.alert-danger{
  width: 100%;
}
.g-recaptcha{
  width: 220px;
  margin: 0 auto;
}
.card-header{
  background: #fff;
}
.card-footer{
  background: #fff;
}
.btn-success{
  max-width: 150px;
  float: right;
}
#copy-url{
  text-overline: none;
  cursor: pointer;
}

#verify_token_hide{
  position: absolute;
  left: -2000px;
}
.btn-sm{
  max-width: 120px;
  float: right;
}

.btn_edit{
  max-width: 100px;
  float: right;
}